Question 1.

In [31]:
a = 0 

def c(a):
    return a + 2

def b():
    global a  
    a = c(a)  
    a = c(a) 
    return a + 2
result = b()
print(result)

6

21. >>>  b(): When you call b() for the first time, it calculates c(a), which is c(0), and c(0) returns 0 + 2, so 'a' is updated to 2.
2. >>> b(): When you call b() for the second time, it calculates c(a), which is c(2), and c(2) returns 2 + 2, so 'a' is updated to 4.
3. >>> b(): When you call b() for the third time, it calculates c(a), which is c(4), and c(4) returns 4 + 2, so 'a' is updated to 6. 
4. After these three function calls, the value of 'a' is 6. So, when you execute >>> a, it will display 6 as the result.

Question 2.

In [18]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            length = len(content)
            print(length)
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except PermissionError:
        print(f"Permission denied while reading {filename}.")

# Example usages
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

Question 3.

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Example usage
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4.

In [8]:
def collatz(x):
    print(x, end=' ')  # Print the current number without a newline

    if x == 1:
        return  # Stop when x reaches 1
    elif x % 2 == 0:
        collatz(x // 2)  # If x is even, apply x/2
    else:
        collatz(3 * x + 1)  # If x is odd, apply 3x + 1

# Test the function
n = int(input("Enter a positive integer: "))
collatz(n)

Enter a positive integer: 6
6 3 10 5 16 8 4 2 1

question 5.

In [4]:
def binary(n):
    if n > 1:
        binary(n // 2)  # Recursive call with integer division
    print(n % 2, end='')

# Example usages
binary(0)  # Output: 0
print()  # Print a newline for clarity
binary(1)  # Output: 1
print()
binary(3)  # Output: 11
print()
binary(9)  # Output: 1001
print()

0
1
11
1001

Question 8.

In [12]:
import sqlite3

conn = sqlite3.connect('fousina_shaji.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather 
    (City TEXT, Country TEXT, Season TEXT, "Temperature(C)" FLOAT, "Rainfall(mm)" FLOAT)
''')

weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, "Temperature(C)", "Rainfall(mm)")
    VALUES (?, ?, ?, ?, ?)
''', weather_data)

# a) All the temperature data.
cursor.execute('SELECT "Temperature(C)" FROM weather')
temperature_data = cursor.fetchall()

#b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
unique_cities = cursor.fetchall()

#c) All the records for India.
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
india_records = cursor.fetchall()

#d) All the Fall records
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG("Rainfall(mm)") BETWEEN 200 AND 400
''')
rainfall_between_200_400 = cursor.fetchall()

#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG("Temperature(C)") > 20
    ORDER BY AVG("Temperature(C)") ASC
''')
high_temp_cities_in_fall = cursor.fetchall()

#g) The total annual rainfall for Cairo.
cursor.execute('SELECT SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

#h) The total rainfall for each season.
cursor.execute('SELECT Season, SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather GROUP BY Season')
total_rainfall_by_season = cursor.fetchall()

# Print the results
print("a) All Temperature Data:", temperature_data)
print("b) All Unique Cities:", unique_cities)
print("c) Records for India:", india_records)
print("d) Fall Records:", fall_records)
print("e) Average Rainfall between 200 and 400:", rainfall_between_200_400)
print("f) High-Temperature Cities in Fall:", high_temp_cities_in_fall)
print("g) Total Rainfall for Cairo:", cairo_total_rainfall)
print("h) Total Rainfall by Season:", total_rainfall_by_season)


conn.commit()
conn.close()

a) All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
b) All Unique Cities: [('Mumbai',), ('London',), ('Cairo',)]
c) Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
d) Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
e) Average Rainfall between 200 and 400: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
f) High-Temperature Cities in Fall: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
g) Total Rainfall for Cairo: 27.6
h) Total Rainfall by Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9.

In [6]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) 
uppercase_words = [word.upper() for word in words]

# b) 
lowercase_words = [word.lower() for word in words]

# c) 
word_lengths = [len(word) for word in words]

# d) 
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

# e) 
long_words = [word for word in words if len(word) >= 4]

# Print results
print("a) Uppercase words:", uppercase_words)
print("b) Lowercase words:", lowercase_words)
print("c) Word lengths:", word_lengths)
print("d) Word info:", word_info)
print("e) Long words:", long_words)

a) Uppercase words: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) Lowercase words: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) Word lengths: [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) Word info: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) Long words: ['quick', 'brown', 'jumps', 'over', 'lazy']